@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<SushiSite.Models.Food>;

@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 100px;  display: flex; flex-direction: row; flex-wrap: wrap; gap: 20px">
    @if (Model.Any())
    {
        @foreach (var food in Model)
        {
            @*<div class="card border-primary mb-3" style="max-width: 40rem; min-width: 20rem; background-image: url(@food.Image); background-size: 100%; background-repeat: no-repeat;">
                <div class="card-body">
                <h4 class="card-header font-weight-bold text-dark">@food.Title</h4>
                <p class="card-text font-weight-bold text-dark">@food.Description</p>
                <p class="card-text font-weight-bold text-dark">Weight: <span class="text-danger">@food.Weight</span></p>
                <p class="card-text font-weight-bold text-dark">Amount: <span class="text-danger">@food.Amount</span></p>
                <p class="card-text font-weight-bold text-dark">Price: <span class="text-danger">@food.Price</span></p>
                </div>
                </div>*@
            <div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body" style="display: flex; align-items: center; justify-content: center;">
                            <img class="img-responsive center-block" src="" alt="" style="max-width: 600px;">
                            <div>
                                <h1 class="card-header font-weight-bold text-dark">@food.Title</h1>
                                <p class="card-text font-weight-bold text-dark">@food.Description</p>
                                <p class="card-text font-weight-bold text-dark">Weight: <span class="text-danger">@food.Weight</span></p>
                                <p class="card-text font-weight-bold text-dark">Amount: <span class="text-danger">@food.Amount</span></p>
                                <p class="card-text font-weight-bold text-dark">Price: <span class="text-danger">@food.Price</span></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 p-3 border">
                <a href="#" class="thumbnail">
                    <img src="@food.Image" alt="..." width="200px" height="150px">
                </a>
                <h4 class="card-header font-weight-bold text-dark">@food.Title</h4>
                <p class="card-text font-weight-bold text-dark">@food.Description</p>
                <p class="card-text font-weight-bold text-dark">Weight: <span class="text-danger">@food.Weight</span></p>
                <p class="card-text font-weight-bold text-dark">Amount: <span class="text-danger">@food.Amount</span></p>
                @*@if(food.Category.Name != null)
                {
                <p class="card-text font-weight-bold text-dark">Category: <span class="text-danger">@food.Category.Name</span></p>
                }*@
                <p class="card-text font-weight-bold text-dark">Price: <span class="text-danger">@food.Price</span></p>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="btn-group">
                        <a asp-controller="Home" asp-action="Buy" asp-route-id="@food.Id" class="btn btn-success" style="width: 245px;">Купити</a>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <h1>List is empty!</h1>
        <img src="https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2ZlZWRpbmctY2F0LmpwZyIsImVkaXRzIjp7InJlc2l6ZSI6eyJ3aWR0aCI6ODI4fX19" />
    }
</div>

@* Client Validation *@
@section Scripts {
<script>
    $(function () {
        $('a.thumbnail').click(function (e) {
            e.preventDefault();
            $('#image-modal .modal-body img').attr('src', $(this).find('img').attr('src'));
            $("#image-modal").modal('show');
            console.log("Clicked");
        });
        $('#image-modal .modal-body img').on('click', function () {
            $("#image-modal").modal('hide')
        });
    });
</script>
}